@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 219 100% 96%;
    --foreground: 226 23% 15%;
    --card: 0 0% 100%;
    --card-foreground: 226 23% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 226 23% 15%;
    --primary: 225 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 100% 92%;
    --secondary-foreground: 225 100% 58%;
    --muted: 222 100% 92%;
    --muted-foreground: 226 23% 45%;
    --accent: 229 99% 62%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 100% 88%;
    --input: 0 0% 100%;
    --ring: 225 100% 58%;
    --chart-1: 225 100% 58%;
    --chart-2: 229 99% 62%;
    --chart-3: 222 100% 92%;
    --chart-4: 226 23% 45%;
    --chart-5: 226 23% 15%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 223 23% 11%;
    --foreground: 210 40% 98%;
    --card: 223 23% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 223 23% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 223 23% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 223 23% 20%;
    --muted-foreground: 215 28% 65%;
    --accent: 229 99% 62%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 23% 20%;
    --input: 223 23% 20%;
    --ring: 225 100% 58%;
    --chart-1: 225 100% 58%;
    --chart-2: 229 99% 62%;
    --chart-3: 223 23% 20%;
    --chart-4: 215 28% 65%;
    --chart-5: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
